
@media (max-width: 992px){
    #wrapwrap > header .show #top_menu{
        background-color: #14110F;
    }
}

header .my_cart_quantity {
    border-radius: 0.25rem;
}

header .btn-primary{
    border-radius: 0.25rem;
}